.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #1e1e1e;;
    padding: 1.5rem;
    border-radius: 10px;
    color: white;
    width: 300px;
}

.modal-content input, .modal-content select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.cancel {
    background-color: #333;
}