.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
}




.site-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    align-items: center;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

