body.dark {
  background-color: #121212;
  color: #f0f0f0;
}

body.light {
  background-color: #f7f7f7;
  color: #222;
}

.app-container {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  transition: transform 0.3s, color 0.3s;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #000, #333);
  color: #fff;
}

body.light .header {
  background: linear-gradient(to right, #fff, #ddd);
  color: #000;
}

.theme-toggle {
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: inherit;
}
